.deps
build_*
release

.ccache.conf

*.code-workspace

# Exclude lock files
*.lock.json

# Exclude macOS legacy resource forks
.DS_Store
.idea
.vscode

# Exclude CMake build number cache
/cmake/.CMakeBuildNumber

scratch
certs

lib/firebase_cpp_sdk/
google-services*.json
