# Exclude everything
/*

# Except for default project files
!/.github
!/build-aux
!/cmake
!/data
!/assets
!/src
!.clang-format
!.gersemirc
!.gitignore
!AGENTS.md
!buildspec.json
!CMakeLists.txt
!CMakePresets.json
!LICENSE
!README.md

# Exclude lock files
*.lock.json

# Exclude macOS legacy resource forks
.DS_Store
.ccache.conf
.Brewfile.lock.json
.CMakeBuildNumber
*.code-workspace
.deps/
build_macos/
build_x64/
certs/
release/
scratch/
.vscode/settings.json
.vscode/

# Exclude CMake build number cache
/cmake/.CMakeBuildNumber

# Except specific project files (DistroAV)
!/CI
!/lib
!/tools
