Architecture: amd64
Depends: obs-studio (>= 27.0.0), libqt5core5a (>= 5.9.0~beta), libqt5gui5 (>= 5.3.0), libqt5widgets5 (>= 5.7.0)
Description: obs-ndi built using CMake
Maintainer: tt2468@irltoolkit.com
Package: obs-ndi
Priority: optional
Section: devel
Version: 5.0.0
Installed-Size: 2223

